```
Linux
     sudo apt install libmysqlclient-dev

windows 
    install mysqlclient
```

```python
pip install mysqlclient
pip install sqlalchemy
pip install pandas
```

### Create Engine For Connection

In [2]:
from sqlalchemy import create_engine

### Set Your Config

## DB name

In [3]:
db_name = "demo"

In [4]:
username = "root"
password = "ash"
address = "0.0.0.0"

### No Rocket Science It just fixed pattern of url

In [5]:
engine = create_engine(f"mysql+mysqldb://{username}:{password}@{address}/{db_name}")

In [6]:
import pandas as pd
from pandas.io import sql

### Now Connect and Begin ( create Cursor )

In [7]:
conn = engine.connect()
conn.begin()

## Set Table Name

In [8]:
table_name = "employee"

### Now Drop Table  If Already There

In [9]:
sql.execute(f"drop table if exists {table_name} ;", engine)

### Confirm

In [10]:
pd.read_sql_query("show tables;", engine)

Empty DataFrame
Columns: [Tables_in_demo]
Index: []

### Now Read the Csv File Which Have Our Dummy Data

In [11]:
file = pd.read_csv("data.csv")

### See Some Sample Data

In [12]:
file.head()

,id,first_name,last_name,email,gender,ip_address,country
0,1,Meryl,Borth,mborth0@ow.ly,Female,29.209.97.255,Armenia
1,2,Vivia,Trenholm,vtrenholm1@toplist.cz,Female,146.41.150.228,Serbia
2,3,Peyter,Christie,pchristie2@vkontakte.ru,Male,195.111.176.67,Bahamas
3,4,Dukie,Chagg,dchagg3@abc.net.au,Male,247.199.120.250,Indonesia
4,5,Sonnie,Benaine,sbenaine4@vkontakte.ru,Male,234.93.138.167,Brazil

### Now Write this to Database

In [13]:
file.to_sql(table_name, engine) #Magic All Done

# Now Fetch From Database

In [14]:
data = pd.read_sql_table(table_name, engine)

In [15]:
data.head()

,index,id,first_name,last_name,email,gender,ip_address,country
0,0,1,Meryl,Borth,mborth0@ow.ly,Female,29.209.97.255,Armenia
1,1,2,Vivia,Trenholm,vtrenholm1@toplist.cz,Female,146.41.150.228,Serbia
2,2,3,Peyter,Christie,pchristie2@vkontakte.ru,Male,195.111.176.67,Bahamas
3,3,4,Dukie,Chagg,dchagg3@abc.net.au,Male,247.199.120.250,Indonesia
4,4,5,Sonnie,Benaine,sbenaine4@vkontakte.ru,Male,234.93.138.167,Brazil